@import helper._
@(content: String)

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>

        @form(action = routes.Application.command()) {
            <label for="line">Bitte Spalte angeben :
                <input id="line" name="line" size="3">
            </label>
            <br/>
            <input type="submit" id="go" value="OK">
            <br/>
            <br/>
            <br/>
        }
        <textarea readonly cols='60' rows='15' >@content</textarea>
    </body>
</html>









